.header {
  width: 100%;
  background-color: #333; 
  position: fixed;
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px; 
  font-weight: bold; 
  text-decoration: none; 
  color: #fff; 
}

.navigation-container {
  height: 56px;
  width: 495px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 30px;
}

.link {
  text-align: center;
  text-decoration: none;  
  color: #fff; 
  transition: color 0.3s; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 120px;
}

 
.link:hover {
  color: rgb(91, 201, 91); 
  font-weight: bold ;
}


.activeLink {
  font-weight: bold; 
  color: rgb(91, 201, 91); 
  box-shadow: 0px -3px 0px 0px rgb(91, 201, 91) inset;
  -webkit-box-shadow: 0px -3px 0px 0px rgb(91, 201, 91) inset;
  -moz-box-shadow: 0px -3px 0px 0px rgb(91, 201, 91) inset;
}
