.interactionContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.interactionBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.sectionTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.prevIdDocument {
    width: 300px;
    margin: 10px 0 50px 0;
}

.uploadBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divider {
    position: relative;
    width: 580px;
    height: 1px solid black; 
    border-top: 1px solid black; 
    margin: 70px 0;
}

.divider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px; 
    background-color: #F3F5F6; 
    padding: 0 10px;
}



